#top
{
	width: 100%;
	height:80px;
	background-color: black;
	color: white;
	text-align: center;

}

#column1
{
	height:500px;
	width: 25%;
	background-color: #000033;
	color: white;
	float: left;
	text-align: center;
}

#column2
{
	height:500px;
	width: 25%;
	background-color: #000033;
	color: white;
	float: left;
	text-align: center;
}

#column3
{
	height:500px;
	width: 25%;
	background-color: #000033;
	color: white;
	float: left;
	text-align: center;
}

#column4
{
	height:500px;
	width: 25%;
	background-color: #000033;
	color: white;
	float: left;
	text-align: center;
}

.d-table {
  min-width: 300px;
  min-height: 300px;
  background: lightgrey;
  display: block;
  
}

.d-table ul {
  list-style-type: none;
}

.d-top li {
  padding: 0px;
  display: inline-block;
  border: 1px solid blue;
  background: grey;
  width: 50px;
  height: 20px;
}

.d-row li {
  padding: 0px;
  display: inline-block;
  background: lightgrey;
  border: 1px solid red;
  width: 50px;
  height: 20px;
}